@model IEnumerable<ThueTro.Models.NhaTro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomePage.cshtml";
}
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<title>Five Brothers Hood</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.svg" />
<!-- Place favicon.ico in the root directory -->
<!-- Web Font -->
<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

<!-- ========================= CSS here ========================= -->
<link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/assets/css/LineIcons.2.0.css" />
<link rel="stylesheet" href="~/assets/css/animate.css" />
<link rel="stylesheet" href="~/assets/css/tiny-slider.css" />
<link rel="stylesheet" href="~/assets/css/glightbox.min.css" />
<link rel="stylesheet" href="~/assets/css/main2.css" />
<link rel="stylesheet" href="~/css/menustyle.css" />

<ul class="props">
    @foreach (var item in Model) {
    <li>
        <div class="prop-img">
            <img src="@item.image" alt="#">
           
        </div>
        <div class="prop-info">
            <a class="link-overlay" href="@Url.Action("Details", "Nhatroes", new { id=item.IDNha })"><h2 class="prop-title">@item.CTNha</h2></a>
            <div class="prop-addr ng-binding" ng-bind="GetAddress(30, 364)">@item.diaDiem</div>
            <ul class="prop-attr">
                <li>@item.DienTich<sup>2</sup></li>
                
            </ul>
            <div class="price">@item.Gia</div>
        </div>
        <div class="prop-extra">
            <div class="prop-created">@item.DateTime</div>
            <div class="prop-favorite" id="21380246" gtm-event="all" gtm-cat="listing" gtm-act="add-favorite" ng-click="Favorite.addRemove(21380246)" ng-class="{favorited: Favorite.items[21380246]}"><i class="fa fa-heart"></i></div>
        </div>
        <div class="up-item"><i class="fa fa-star up-item-star"></i></div>
    </li>
    }
</ul>


@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tenduong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DienTich)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenChuNha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CTNha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioiThieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ratting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDQuann)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tenduong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienTich)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenChuNha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTNha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiThieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ratting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDQuann)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IDNha }) |
                @Html.ActionLink("Details", "Details", new { id=item.IDNha }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.IDNha })
            </td>
        </tr>
    }

    </table>*@
